.chat-box {
    flex-grow: 1; /* Allow the chat box to grow and take available space */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds available height */
    padding: 15px; /* Add padding for spacing */
}

.card {
    border-bottom: none;
}

li {
    list-style-type: none;
}

.username {
    background: rgba(0, 0, 0, 0.15);
}

.form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

.inputJoin {
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

.input:focus {
    outline: none;
}

.form > button {
    background: transparent;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
}